.line {
    height: 7px;
    background-color: black;
    width: 60px;
    margin: 8px auto;
}
body {
    text-align: center;
}
#Apps {
    background-color: aquamarine;
}
img {
    width: 400px;
    height: 450px;
    margin-left: 50px;
}
#games {
    background-color: rgb(0, 183, 255);
}
#chatbot {
    background-color: blue;
}
h1 {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}